* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    padding: 20px;
}

header > h1 {
    color: white;
    text-align: center;
}

.alphabet > div {
    margin: 20px;
    padding: 15px;
    display: inline-block;
    border: black solid 5px;
    text-align: center;
    font-size: 30px;
}

.alphabet > div:hover {
    background: hotpink;
    cursor: pointer;
}